.banner-principal {
  width: 100%;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 20px rgba(0,0,0,.5);
}

.banner-principal img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  display: block;
  transition: all .4s ease;
}

.banner-principal:hover img {
  transform: scale(1.03);
}
